<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario">
        <input type="password" name="password" placeholder="Contraseña">

        <button type="submit">Entrar</button>

        <a href="{% url 'home' %}" class="btn btn-outline-primary m-2">entrar como visitante</a>
    </form>
</body>
</html>